
<section class="shifts">
	<ul>
		@for (shift of shifts; track shift.id; let index = $index) {
			@if (isNewDay(shift.startTime, index) || index == 0) {
				<li class="shift_header">{{ toDate(shift.startTime) }}</li>
			}
			<li class="shift">
				<div class="shift__details">
					<p class="shift__details__time">{{ toTime(shift.startTime) }} - {{ toTime(shift.endTime) }}</p>
					<p class="shift__details__place">{{ shift.area }}</p>
				</div>
				<div class="shift__statuses">
					@if (shift.booked) {
						<span class="shift__statuses__text">Booked</span>
						<button
              type="button"
              class="shift__statuses__btn btn_cancel"
							[disabled]="isOlder(shift.startTime)"
							[class.btn_cancel-loading]="shift.loading"
							(click)="cancelShift(shift.id, index)">
							Cancel
						</button>
					}
					@if (!shift.booked) {
						@if (shift.overlapping) {
							<span class="shift__statuses__text status_overlap">Overlapping</span>
							<button
								type="button"
								class="shift__statuses__btn btn_book"
								disabled
								[class.btn_book-loading]="shift.loading"
								(click)="bookShift(shift.id, index)">
								Book
							</button>
						}
						@if (!shift.overlapping) {
							<button
								type="button"
								class="shift__statuses__btn btn_book"
								[class.btn_book-loading]="shift.loading"
								(click)="bookShift(shift.id, index)">
								Book
							</button>
						}
					}
				</div>
			</li>
		}
	</ul>
</section>
